* {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  margin: 1rem;
  background-color: whitesmoke;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: dodgerblue;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

main {
  margin: 5rem auto 0 auto;
  max-width: 40rem;
}

dialog {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  border: 0;
  display: grid;
  place-items: center;
  transition: opacity 0.3s;
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

#controls {
  background-color: white;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
}

#controls input,
#controls select {
  padding: 0.5rem;
  width: 100%;
  margin: 0.5rem 0;
}

#tasks-list {
  list-style-type: none;
  padding: 0;
}

#tasks-list li {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}

#tasks-list li input[type="checkbox"] {
  width: 1.75rem;
  height: 1.75rem;
}

button.delete-task {
  width: 1.75rem;
  height: 1.75rem;
  background-color: deeppink;
  border: 0;
  color: white;
  cursor: pointer;
}

#tasks-list li input[type="text"] {
  flex: 1;
  margin: 0 0.5rem;
  border: 0;
  padding: 0.5rem;
  height: 1.75rem;
}

#tasks-list li input[type="checkbox"]:checked ~ input[type="text"] {
  text-decoration: line-through;
}

button#show-form {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  border: 0;
  background-color: darkblue;
  color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button#show-form:hover {
  background-color: dodgerblue;
}

form {
  background-color: dodgerblue;
  padding: 1rem;
  border-radius: 0.2rem;
  transition: transform 0.5s;
}

dialog:not([open]) form {
  transform: translateY(100vh);
}

.form-group {
  margin: 1rem 0;
}

form label {
  color: white;
}

form input[type="text"] {
  width: 100%;
  border: 0;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

form button {
  width: 100%;
  border: 0;
  background-color: darkblue;
  color: white;
  text-transform: uppercase;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: deeppink;
}
